.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paragraph {
  font-size: 22px;
}

.button {
  width: 30%;
  background: linear-gradient(45deg, #0052A2 30%, #000B18 90%);
  border-radius: 3;
  border: 0;
  color: #ffff;
  height: 48;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px #02386E;
}