body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html * {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes mercury-animation {
  0% {
    transform: rotate(0deg) translate(125px, 50px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translate(125px, 50px) rotate(360deg);
  }
}

@keyframes venus-animation {
  0% {
    transform: rotate(0deg) translate(200px, 50px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(200px, 50px) rotate(-360deg);
  }
}

@keyframes earth-animation {
  0% {
    transform: rotate(0deg) translate(250px, 50px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translate(250px, 50px) rotate(360deg);
  }
}

@keyframes mars-animation {
  0% {
    transform: rotate(0deg) translate(300px, 50px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translate(300px, 50px) rotate(360deg);
  }
}

@keyframes jupiter-animation {
  0% {
    transform: rotate(0deg) translate(350px, 50px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translate(350px, 50px) rotate(360deg);
  }
}

@keyframes saturn-animation {
  0% {
    transform: rotate(0deg) translate(400px, 50px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translate(400px, 50px) rotate(360deg);
  }
}

@keyframes uranus-animation {
  0% {
    transform: rotate(0deg) translate(450px, 50px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translate(450px, 50px) rotate(360deg);
  }
}

@keyframes neptune-animation {
  0% {
    transform: rotate(0deg) translate(500px, 50px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translate(500px, 50px) rotate(360deg);
  }
}

@keyframes modal {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: auto;
  }
}


.planet {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  cursor: pointer;
}

.modal {
  animation: modal 2s linear;
  
}

.clicked {
  max-width: 300px;
  max-height: 300px;
}

.sun {
  max-width: 230px;
  max-height: 230px;
  /* transform: translateY(100px); */
  color: white;
}

.mercury {
  /* transform: translate(325px, 150px); */
  animation: mercury-animation 10s linear infinite;
}

.venus {
  /* transform: translate(250px, 0px); */
  animation: venus-animation 10s linear infinite;
}

.earth {
  /* transform: translate(450px, 100px); */
  animation: earth-animation 10s linear infinite;
}

.mars {
  /* transform: translate(200px, -160px); */
  animation: mars-animation 10s linear infinite;
}

.jupiter {
  max-width: 60px;
  max-height: 60px;
  /* transform: translate(450px, -80px); */
  animation: jupiter-animation 10s linear infinite;
}

.saturn {
  max-width: 100px;
  max-height: 100px;
  /* transform: translate(670px, 200px); */
  animation: saturn-animation 10s linear infinite;
}

.uranus {
  max-width: 80px;
  max-height: 80px;
  /* transform: translate(200px, -350px); */
  animation: uranus-animation 10s linear infinite;
}

.neptune {
  max-width: 100px;
  max-height: 100px;
  /* transform: translate(400px, -320px); */
  animation: neptune-animation 10s linear infinite;
}